/* ========== Custom Css Styleing ============ */
/* ==== Default Screen Size ==== */
@font-face{
    font-family: Merrieweather ;
    src: url("../fonts/Merriweather-Regular.ttf");
}
@font-face{
    font-family: Lato ;
    src: url("../fonts/Lato-Regular.ttf");
}
body{
    font-family: Lato !important;
    background-color: #032539 !important;
}

/* ==== 1024px Screen Size ==== */
@media only screen and (max-width: 1024px) {
}
/* ==== 768px Screen Size ==== */
@media only screen and (max-width: 768px) {
}
/* ==== 425px Screen Size ==== */
@media only screen and (max-width: 425px) {
}
/* ==== 375px Screen Size ==== */
@media only screen and (max-width: 375px) {
}
/* ==== 320px Screen Size ==== */
@media only screen and (max-width: 320px) {
}
